ALLOW_EMAIL_LOGIN="true"
ALLOW_REGISTRATION="true"
ALLOW_SOCIAL_LOGIN="false"
ALLOW_SOCIAL_REGISTRATION="false"
ANTHROPIC_API_KEY="user_provided"
ANTHROPIC_MODELS="claude-opus-4-7,claude-opus-4-6,claude-sonnet-4-6,claude-opus-4-5,claude-haiku-4-5-20251001,claude-sonnet-4-5-20250929,claude-opus-4-1-20250805,claude-opus-4-20250514,claude-sonnet-4-20250514,claude-3-7-sonnet-20250219,claude-3-5-haiku-20241022,claude-3-haiku-20240307,claude-3-opus-20240229"
APP_TITLE="LibreChat"
BAN_DURATION="7200000"
BAN_INTERVAL="20"
BAN_VIOLATIONS="true"
CHECK_BALANCE="false"
CONCURRENT_MESSAGE_MAX="2"
CONCURRENT_VIOLATION_SCORE="1"
CONFIG_PATH="https://raw.githubusercontent.com/LibreChat-AI/librechat-config-yaml/main/librechat-up-l.yaml"
CREDS_IV="__REPLACE_ME__"
CREDS_KEY="__REPLACE_ME__"
DEBUG_CONSOLE="false"
DEBUG_LOGGING="true"
DEEPSEEK_API_KEY="user_provided"
DISCORD_CALLBACK_URL="/oauth/discord/callback"
DOMAIN_CLIENT="https://${{RAILWAY_PUBLIC_DOMAIN}}"
DOMAIN_SERVER="https://${{RAILWAY_PUBLIC_DOMAIN}}"
ENDPOINTS="openAI,agents,assistants,azureOpenAI,google,anthropic,custom"
FIREWORKS_API_KEY="user_provided"
GITHUB_CALLBACK_URL="/oauth/github/callback"
GOOGLE_CALLBACK_URL="/oauth/google/callback"
GOOGLE_KEY="user_provided"
GOOGLE_MODELS="gemini-3.1-pro-preview,gemini-3.1-flash-lite-preview,gemini-3-pro,gemini-2.5-pro,gemini-2.5-flash,gemini-2.5-flash-lite,gemini-2.0-flash,gemini-2.0-flash-lite,gemini-live-2.5-flash-preview,gemini-2.5-flash-preview-09-2025,gemini-2.5-flash-lite-preview-09-2025,gemini-2.0-flash-live-001,gemini-2.0-flash-lite,gemini-1.5-pro,gemini-1.5-flash,gemini-1.5-flash-8b"
GROQ_API_KEY="user_provided"
HOST="0.0.0.0"
JWT_REFRESH_SECRET="__REPLACE_ME__"
JWT_SECRET="__REPLACE_ME__"
LIMIT_CONCURRENT_MESSAGES="true"
LIMIT_MESSAGE_IP="true"
LIMIT_MESSAGE_USER="false"
LOGIN_MAX="7"
LOGIN_VIOLATION_SCORE="1"
LOGIN_WINDOW="5"
MEILI_HOST="http://${{Meilisearch.RAILWAY_PRIVATE_DOMAIN}}:7700"
MEILI_MASTER_KEY="__REPLACE_ME__"
MEILI_NO_ANALYTICS="true"
MESSAGE_IP_MAX="40"
MESSAGE_IP_WINDOW="1"
MESSAGE_USER_MAX="40"
MESSAGE_USER_WINDOW="1"
MESSAGE_VIOLATION_SCORE="1"
MISTRAL_API_KEY="user_provided"
MONGO_URI="${{MongoDB.MONGO_PRIVATE_URL}}"
NO_INDEX="true"
NON_BROWSER_VIOLATION_SCORE="20"
OPENAI_API_KEY="user_provided"
OPENAI_MODELS="gpt-5.5,gpt-5.5-pro,gpt-5.4,gpt-5.4-pro,gpt-5.4-mini,gpt-5.4-nano,gpt-5.3-codex,gpt-5.2,gpt-5.2-chat,gpt-5.2-pro,gpt-5.1,gpt-5.1-chat-latest,gpt-5,gpt-5-chat-latest,gpt-5-mini,gpt-5-nano,gpt-5-pro,gpt-5.1-codex,gpt-5-codex,gpt-5.1-codex-mini,codex-mini-latest,gpt-5-search-api,gpt-4.1,gpt-4.1-mini,gpt-4.1-nano,gpt-4o,gpt-4o-mini,gpt-4o-2024-05-13,gpt-4o-search-preview,gpt-4o-mini-search-preview,o4-mini,o4-mini-deep-research,o3,o3-pro,o3-deep-research,o3-mini,o1,o1-pro,o1-mini,chatgpt-4o-latest,gpt-4-turbo-2024-04-09,gpt-4-0125-preview,gpt-4-1106-preview,gpt-4-1106-vision-preview,gpt-4-0613,gpt-4-0314,gpt-4-32k,gpt-3.5-turbo,gpt-3.5-turbo-0125,gpt-3.5-turbo-1106,gpt-3.5-turbo-0613,gpt-3.5-turbo-16k-0613,gpt-3.5-0301,gpt-3.5-turbo-instruct,davinci-002,babbage-002"
OPENROUTER_KEY="user_provided"
PERPLEXITY_API_KEY="user_provided"
RAG_API_URL="http://${{\"RAG API\".RAILWAY_PRIVATE_DOMAIN}}:8000"
REFRESH_TOKEN_EXPIRY="604800000"
REGISTER_MAX="5"
REGISTER_WINDOW="60"
REGISTRATION_VIOLATION_SCORE="1"
SEARCH="true"
SESSION_EXPIRY="900000"
TITLE_CONVO="true"
TOGETHERAI_API_KEY="user_provided"
TRUST_PROXY="1"